a.out
*.dSYM
test

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# Vim
# swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

